.contentWrap{
    padding-left: 60px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.photoTv > img{
  width: 600px;
  height: 400px;
}
.tvDetails>h2{
    
    color: wheat;
    padding: 15px;
}
.tvDetails > h3{
    margin-right: 100px;
    color: wheat;
    font-size: 12px;
    padding: 15px;
    
}

.detailsTv button{
    margin-left: 75px;
    margin-top: 30px;
    color: lightgray;
    background-color: gray;
}
.detailsTv button:hover {
    background-color: aliceblue;

}